[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".vim/pack/bundle/opt/vim-go"]
	path = .vim/pack/bundle/opt/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/bundle/opt/ferret"]
	path = .vim/pack/bundle/opt/ferret
	url = https://github.com/wincent/ferret.git
[submodule ".vim/pack/bundle/opt/base16-vim"]
	path = .vim/pack/bundle/opt/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "zsh/zsh-history-substring-search"]
	path = zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/base16-shell"]
	path = zsh/base16-shell
	url = git@github.com:abrampers/base16-shell.git
